body{
    background-image: url("../images/blue.jpg");
    background-size: cover;
}

.form{
    background-color: rgba(19, 94, 174, 0.2)
}

.header__logo svg:hover{
    fill: blue;
}

.header__items svg:hover{
    fill: blue;
}

.header__welcome a:hover{
    color: blue;
}

.form::before{
    background: blue;
}

.form__sign-up{
    color: white;
}

.form_log-in{
    color: white;
}

.form_log-in:hover{
    color: blue;
}

.form__divider{
    color: white;
}

.form__divider::before{
    background: blue;
}

.form__divider::after{
    background: blue;
}

.form__checkbox a{
    color: white;
}

.form__checkbox a:hover{
    color: blue;
}

.form__big-btn{
    background: rgba(0, 0, 255, 0.3);
}

.form__big-btn:hover{
    background: blue;
}

.theme_btn:hover{
    background-color: blue;
}