body{
    background-image: url("../images/background_body.png");
    background-size: cover;
}

.header__wrapper{
    height: 58px;
    background: rgba(0, 0, 0, 0.4);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: space-between;
    transition: all 0.5s;
}

.header__wrapper:hover{
    background: rgba(0, 0, 0, 0.3);
}

.header__wrapper:hover .header__welcome:before{
    visibility: hidden;
}
.header__logo{
    display: block;
    padding: 18px 0 18px 79px;
    flex-grow: 1;
}

.header__logo svg:hover{
    fill: #01813F;
}

.header__items svg{
    padding: 17px 25px 17px 0;
}

.header__items svg:hover{
    fill: #01813F;
}

.header__items a{
    text-decoration: none;
}

.header__welcome{
    padding: 22px 79px 22px 27px;
    position: relative;
}

.header__welcome p{
    margin: 0;
    font-family: Ubuntu, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
}

.header__welcome a{
    text-decoration: none;
    color: #FFFFFF;
}

.header__welcome a:hover{
    color: #01813F;
}

.header__welcome::before{
    content: "";
    width: 1px;
    height: 19px;
    background: rgba(255, 255, 255, 0.9);
    opacity: 0.5;
    position: absolute;
    left: 0;
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 712px;
}

.form{
    width: 324px;
    height: 539px;
    background: #FFFFFF;
    box-shadow: 0 4px 18px rgba(0, 0, 0, 0.52);
/*  margin-top: 55px;*/
    padding: 31px 60px 38px 60px;
    position: relative;
/*  margin-right: auto;
    margin-left: auto;*/
}

.form::before{
    content: "";
    position: absolute;
    width: 18px;
    height: 18px;
    left: 0;
    top: 29px;
    background: #3CB878;
}

.form__header{
    display: flex;
    justify-content: space-between;
}

.form__sign-up{
    margin: 0;
    font-family: Ubuntu, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 20px;
    color: #434343;
}

.form_log-in{
    display: block;
    text-decoration: none;
    color: #3CB878;
    padding-top: 5px;
    font-family: Ubuntu, sans-serif;;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
}

.form_log-in:hover{
    text-decoration: underline;
    color: #01813F;
}

.form__buttons{
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}

.btn{
    width: 160px;
    height: 48px;
    flex-grow: 1;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: Ubuntu, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.btn1{
    margin-right: 5px;
    background: #305DB8;
}

.btn2{
    background: #DF4A32;
}

.form__btn-logo{
    display: block;
    align-self: center;
    padding-left: 10px;
}

.form__btn-text{
    display: block;
    align-self: center;
    padding-right: 15px;
}

.btn:before{
    content: "";
    position: absolute;
    width: 1px;
    height: 28px;
    left: 50px;
    top: 10px;
    background: #0A162F;
    mix-blend-mode: normal;
    opacity: 0.2;
}

.btn1:hover{
    background-color: #022263;
}

.btn2:hover{
    background-color: #AB1F09;
}

.form__divider{
    margin: 31px 0 12px 0;
    text-align: center;
    font-family: Ubuntu, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    color: #848484;
}

.form__divider::before{
    position: relative;
    content: "";
    width: 151px;
    height: 1px;
    background: #F2F2F2;;
    bottom: 3px;
    display: inline-block;
    margin-right: 4px;
}

.form__divider::after{
    position: relative;
    content: "";
    width: 151px;
    height: 1px;
    background: #F2F2F2;;
    bottom: 3px;
    display: inline-block;
    margin-left: 4px;
}

.form__input{
    display: block;
    width: 93%;
    margin-bottom: 15px;
    height: 44px;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
    padding-left: 19px;
    font-family: Ubuntu, sans-serif;
}

.form__input:focus{
    background-color: #FFFFFF;;
    outline: none;
    box-shadow: 0 4px 18px rgba(0, 0, 0, 0.52);
}

.form__checkbox{
    font-family: Ubuntu, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    cursor: pointer;
}

.form__checkbox a{
    text-decoration: none;
    color: rgba(60, 184, 120, 0.8);
}

.form__checkbox a:hover{
    color: rgba(1, 129, 63, 1);
    text-decoration: underline;
}

.form__big-btn{
    margin-top: 20px;
    display: block;
    width: 100%;
    height: 46px;
    background: rgba(60, 184, 120, 0.8);
    border-radius: 4px;
    border: none;
    color: #FFFFFF;
    cursor: pointer;
    font-family: Ubuntu, sans-serif;
}

.form__big-btn:hover{
    background: #01813F;
}

.theme_change{
    font-family: Ubuntu, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
}

.theme_change__text{
    padding: 0;
}

.theme_btn{
    margin: 18px 50px 18px 15px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    font-family: Ubuntu, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
}

.theme_btn:hover{
    background-color: rgba(1, 129, 63, 1);
}

